@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body 
{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
    background-color: #ffebe9;
    color: #000f;
    font-size: 16px;
    padding-bottom: 1.5cm;
}

h1
{
    margin: 1em;
    text-align: center;
    font-style: italic;
    font-weight: 300;
}

h2
{
    margin: 1em 0 0 0;
    font-style: italic;
    font-weight: 300; 
}

form {
    width: 50%;
    padding: 2rem;
    margin: 0 auto;
    background: #ffffff;
    color: #000f;
    border-radius: 0.5rem;
    box-shadow: 10px 10px #f6d1cb;
}

label
{
    display: block;
    margin: 0.5rem auto;
}

.form-control 
{
    display: block;
    border: 1px solid lightgray;
    width: 100%;
    border-radius: .25rem;
}

fieldset
{
    width: 90%;
    margin: auto;
    padding: 2rem;
    border: none;
    border-bottom: 2px solid lightblue;
}

input, select, textarea {
    width: 100%;
    padding: 0.25rem;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 1rem 0;
}

input[type="button"]
{
    width: 30%;
    margin: auto;
    border-radius: .25rem;
    border: none;
}

input[type="button"]:hover
{
    width: 30%;
    margin: auto;
    border-radius: .25rem;
    border: 1px;
    background-color: lightgray;
}

.video-container 
{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.video-container iframe 
{
    width: 54%;
    height: 450px;
    border-radius: .25rem;
  }

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header img
{
    width: 50px;
    height: 50px;
}